Hi Legalfab,
<h3>User has contacted from Legalfab.com (Mainwebsite)</h3>

<h4>Contact Details:</h4>

<h5>First Name:- <%= @query_details['first_name']%></h5>
<h5>Last Name:- <%= @query_details['last_name']%></h5>
<h5>Company Name:- <%= @query_details['company_name']%></h5>
<h5>Email:- <%= @query_details['email']%></h5>
<h5>Contact No:- <%= @query_details['phone']%></h5>
<h5>Nature of query:- <%= @query_details['nature']%></h5>
<h5>Preferred Contact mode:- <%= @query_details['contact_mode']%></h5>
<h5>Message:- <%= @query_details['message']%></h5>
