<!DOCTYPE html>
<html>
  <head>
    <title>LegalFAB.Com | Legal For All Businesses</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/assets/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
    <!-- Fonts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag 'application', "data-turbolinks-track" => "reload" %>
  </head>

  <body>
  <!-- header -->
  <header class="header">
    <!-- logo -->
    <div class="header__logo">
      <a href="/">
        <img src="/assets/logo.jpg" width="65%" alt="">
      </a>
    </div>
    <!-- end logo -->

    <!-- navigation -->
    <ul class="header__nav">
      <li><a href="/" class="text-uppercase">Home</a></li>
      <li><a href="/about-us" class="text-uppercase">About Us</a></li>
      <li class="dropdown header__dropdown">
        <a class="dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services <i class="ti-angle-double-down"></i> </a>

        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLink2">
          <li><a href="/contract_assembly_management">CONTRACT ASSEMBLY & MANAGEMENT</a></li>
          <li><a href="/project_transaction_monitoring">PROJECT & TRANSACTION MONITORING</a></li>
        </ul>
      </li>
      <li><a href="/press" class="text-uppercase">News</a></li>
      <li><a href="/request-demo" class="text-uppercase">Request Demo</a></li>
      <li><a href="/contact-us" class="text-uppercase">Contact</a></li>

    </ul>
    <!-- end navigation -->

    <!-- buttons -->
    <div class="header__btns">
      <a href="https://sf.legalfab.com/bl/portal/" target="_blank" class="bold-font header-color">LOGIN </a>
      <a href="https://sf.legalfab.com/bl/portal/" target="_blank" class="bold-font header-color">&nbsp; / SIGN UP</a>
    </div>
    <!-- end buttons -->

    <!-- mob button -->
    <button class="header__menu" type="button">
      <i class="ti-menu"></i>
      <i class="ti-close"></i>
    </button>
    <!-- end mob button -->
  </header>
  <!-- end header -->
  a  <%= yield %>


  <!-- footer -->
  <footer class="footer p-t-40">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-4 col-sm-4 col-md-3 col-lg-3">
            <!-- logo -->
            <div class="footer__logo">
              <a href="/">
                <img src="/assets/LF-Symbol.png" width="40%" alt="">
              </a>
              <!--<p class="p-t-10 f-14 f-w-700 m-b-5">CHANGING THE WAY</p>
              <p class="f-14 f-w-700">BUSINESSES TRANSACT</p>-->
            </div>
            <!-- end logo -->
          </div>

          <div class="col-4 col-sm-4 col-md-3 col-lg-2">
            <h6 class="footer__title">RESOURCES</h6>
            <ul class="footer__list">
              <li><a href="/project_transaction_monitoring">Project & Transaction Monitoring</a></li>
              <li><a href="/contract_assembly_management">Contract Assembly & Management</a></li>
              <li><a href="/press">News</a></li>
              <li><a href="/about-us">About Us</a></li>
            </ul>
          </div>

          <div class="col-4 col-sm-4 col-md-3 col-lg-2">
            <h6 class="footer__title">SUPPORT</h6>
            <ul class="footer__list">
              <li><a href="/request-demo">Request Demo</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/terms_and_conditions">Terms of Service</a></li>
              <li><a href="/privacy_policy">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-4 col-sm-4 col-md-3 col-lg-2">
            <h6 class="footer__title">NEWS</h6>
            <ul class="footer__list">
              <li><a href="/post/legalfab-wins-techlawfest-hachathon">LegalFAB wins TechLaw.Fest Hackathon</a></li>
              <li><a href="/post/love-quotient-empathy-versus-moores-law">Love Quotient & Empathy versus Moore's Law</a></li>
              <!--<li><a href="#">Understanding Cost Structure a Law Firm</a></li>-->
            </ul>
          </div>

          <div class="col-4 col-sm-4 col-md-3" id="subscribe_block">
            <h6 class="footer__title">CONTACT</h6>
            <ul class="footer__list">
              <li><a href="tel:+6566527986">T: +65 6652 7986</a></li>
              <li><a href="mailto:info@legalfab.com">E: info@legalfab.com</a></li>
              <li>
                <ul class="footer__social">
                  <li id=""><a href="https://www.facebook.com/legalfabdotcom" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/legalfab/" target="_blank"><i class="ti-linkedin"></i></a></li>
                  <li><a href="https://www.instagram.com/legalfabdotcom/" target="_blank"><i class="ti-instagram"></i></a></li>
                  <li><a href="https://twitter.com/legalfabdotcom" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                </ul>
              </li>
              <li><input placeholder="Email Address" class="form__input form__input_small" name="email" id="subscribe_email" width="50%" style="display: inline"><button type="button" class="button-subscribe">Subscribe</button></li>
              <li class="hidden loading" id="sending">Subscribing ...</li>
              <li class="hidden green-text" id="subscribing-msg">Thank you for subscribing to our mailing list.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="border-top-full p-10">
      <div class="row">
        <div class="col-12  text-center">
          <div>
            <small>© Copyright 2016-2018 LegalFAB Private Limited. All Rights Reserved. ‘LegalFAB’, ‘Project & Transaction Monitoring’, ‘Contract Assembly & Management’, are used as unregistered trademarks of LegalFAB Private Limited</small>
          </div>
        </div>
      </div>

    </section>
  </footer>
  <div id="toastem"></div>
  <%= javascript_include_tag "#@controller.#@action" %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119885084-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-119885084-1');
      $('.button-subscribe').click(function (event) {
          event.preventDefault();
          $('#sending').removeClass('hidden');
          $.ajax({
              url: '/subscribe',
              data: {
                  email: $('#subscribe_email').val()
              },
              error: function () {
                  $('#subscribing-msg').addClass('hidden');
                  $('#sending').addClass('hidden');
              },
              success: function (data) {
                  /*var item = $('<div class="notification success"><span>Thanks for subscribing LegalFAB. :)</span></div>');
                  $("#toastem").append($(item));
                  $(item).animate({"right": "12px"}, "fast");
                  setInterval(function () {
                      $(item).animate({"right": "-400px"}, function () {
                          $(item).remove();
                      });
                  }, 4000);*/
                  $('#sending').addClass('hidden');
                  $('#subscribing-msg').removeClass('hidden');
              },
              type: 'POST'
          });
      });
  </script>
  </body>
</html>
